@inherits UmbracoViewPage<SubmissionWidget>
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet" 
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    
        <title>Témata pod lupou - sběr témat</title>
    
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
            
            .btn {
                border-radius: 0;
            }
            
            .btn-main {
                width: 100%;
                background-color: #DE000A;
                border-color: #d1050e;
                color: white;
            }
            
            .btn-main:hover {
                background-color: #c4030c;
                border-color: #a8070e;
                color: white;
            }
            
            .btn-main:focus {
                box-shadow: 0 0 0 .25rem rgba(241,136,140,0.5);
            }
            
            .w-medium {
                max-width: 600px;
            }
            
            .w-small {
                max-width: 400px;
            }
        
            #cta {
                background-color: #DE000A;
                color: white;
            }
            
            #cta h1 {
                font-size: 27px;
                font-weight: bold;
            }
            
            #cta .btn {
                font-size: 18px;
                font-weight: bold;
            }
            
            #form, #confirmation {
                background-color: #F1F1F2;
            }
            
            #form .form-label {
                font-size: 16px;
                font-weight: bold;
            }
            
            #form .form-text {
                font-size: 12px;
            }
            
            #form hr {
                border-color: #212529;
                opacity: 1;
            }
            
            #form .circle {
                width: 40px;
                height: 40px;
                margin: 0 auto;
                background-color: #DE000A;
                color: white;
                border-radius: 20px;
                text-align: center;
                line-height: 40px;
                font-size: 1.1rem;
                font-weight: bold;
            }
            
            #form .date {
                font-size: 12px;
            }
        </style>
    
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        
        <script src="~/Scripts/iframe-resizer/v4.3.2/iframeResizer.contentWindow.min.js"></script>
    </head>
<body>
  
    <section id="cta" class="container-fluid banner p-4 p-lg-5">
        <div class="row">
            <div class="col-8">
                <h1>@Model.CtaHeading</h1>
                <div>
                    <svg width="169" height="34" viewBox="0 0 169 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 30.5553L0 28.6042L8.93281 19.683C10.2485 20.6512 11.8402 21.1718 13.4738 21.1681C17.7192 21.1681 21.1731 17.7142 21.1731 13.4688C21.1731 9.22338 17.7192 5.76946 13.4738 5.76946C9.22838 5.76946 5.77447 9.22338 5.77447 13.4688C5.77332 14.9233 6.18602 16.3481 6.96439 17.5768L0 24.5637V13.4689C0.00198872 10.3604 1.07841 7.34824 3.04691 4.94253C5.01542 2.53683 7.75499 0.885522 10.8015 0.268344C13.8481 -0.348835 17.0143 0.106057 19.7639 1.55596C22.5135 3.00587 24.6774 5.36165 25.889 8.22424C26.9211 10.6729 27.2066 13.372 26.7096 15.9824C26.2125 18.5928 24.9552 20.9981 23.0954 22.8962C21.2357 24.7942 18.8565 26.1004 16.2567 26.6505C13.657 27.2006 10.9527 26.9703 8.48347 25.9883L2.50478 31.6348C1.55776 32.5292 0.000163889 31.8579 0 30.5553H0Z" fill="white"/>
                        <path d="M13.4742 18.174C16.1909 18.174 18.3932 16.0195 18.3932 13.3619C18.3932 10.7042 16.1909 8.5498 13.4742 8.5498C10.7575 8.5498 8.55518 10.7042 8.55518 13.3619C8.55518 16.0195 10.7575 18.174 13.4742 18.174Z" fill="white"/>
                        <path d="M37.1767 19.4286H39.6538V11.3415H42.9032V9.2286H33.9272V11.3415H37.1767V19.4286Z" fill="white"/>
                        <path d="M45.3842 10.9335H47.2931L49.2019 8.4126H46.6519L45.3842 10.9335ZM42.5136 15.6255C42.5136 17.9132 44.2039 19.5743 46.5645 19.5743C48.4588 19.5743 49.9014 18.5397 50.3968 16.9223H48.0508C47.8031 17.4177 47.3368 17.8112 46.5645 17.8112C45.7048 17.8112 44.9908 17.1992 44.8451 16.2812H50.5716C50.9359 13.6 49.1145 11.6766 46.5645 11.6766C44.2185 11.6766 42.5136 13.3232 42.5136 15.6255ZM44.8742 14.7949C45.0928 14.0517 45.7048 13.4397 46.5645 13.4397C47.4388 13.4397 48.0654 14.0663 48.2548 14.7949H44.8742Z" fill="white"/>
                        <path d="M52.3454 19.4286H54.5894V14.8095C54.5894 14.0663 55.114 13.5563 55.828 13.5563C56.5566 13.5563 57.0666 14.0663 57.0666 14.7949V19.4286H59.3106V14.8095C59.3106 14.0663 59.8351 13.5563 60.5346 13.5563C61.2777 13.5563 61.7877 14.0663 61.7877 14.7949V19.4286H64.0317V14.5035C64.0317 12.8423 62.8369 11.6766 61.132 11.6766C60.1411 11.6766 59.3106 12.0992 58.8151 12.7986C58.3489 12.0992 57.5911 11.6766 56.6586 11.6766C55.7843 11.6766 55.0557 12.0555 54.5894 12.682V11.8223H52.3454V19.4286Z" fill="white"/>
                        <path d="M65.5326 17.3449C65.5326 18.7875 66.6109 19.5743 68.0535 19.5743C69.0006 19.5743 69.8895 19.2683 70.5452 18.5397V19.4286H72.7892V14.7949C72.7892 12.784 71.4486 11.6766 69.2775 11.6766C66.9752 11.6766 65.8532 12.886 65.7804 14.4015H68.0244C68.0535 13.7749 68.5344 13.4252 69.2775 13.4252C70.0352 13.4252 70.5452 13.8477 70.5452 14.62V15.028C69.9186 14.9406 69.3795 14.8969 68.9861 14.8969C66.6692 14.8969 65.5326 15.8295 65.5326 17.3449ZM67.7912 17.2283C67.7912 16.7183 68.1992 16.4123 69.2046 16.4123C69.5981 16.4123 70.0644 16.456 70.5452 16.5435C70.4432 17.1992 69.7729 17.9423 68.7238 17.9423C68.1264 17.9423 67.7912 17.6946 67.7912 17.2283Z" fill="white"/>
                        <path d="M75.1444 11.8223H73.8912V13.6437H75.1444V16.6017C75.1444 18.6855 76.3975 20.0552 79.5741 19.3995V17.5343C77.9858 17.9569 77.3884 17.4469 77.3884 16.5435V13.6437H79.5741V11.8223H77.3884V9.81145H75.1444V11.8223Z" fill="white"/>
                        <path d="M80.8709 17.3449C80.8709 18.7875 81.9492 19.5743 83.3918 19.5743C84.3389 19.5743 85.2278 19.2683 85.8835 18.5397V19.4286H88.1275V14.7949C88.1275 12.784 86.7869 11.6766 84.6158 11.6766C82.3135 11.6766 81.1915 12.886 81.1186 14.4015H83.3626C83.3918 13.7749 83.8726 13.4252 84.6158 13.4252C85.3735 13.4252 85.8835 13.8477 85.8835 14.62V15.028C85.2569 14.9406 84.7178 14.8969 84.3243 14.8969C82.0075 14.8969 80.8709 15.8295 80.8709 17.3449ZM83.1295 17.2283C83.1295 16.7183 83.5375 16.4123 84.5429 16.4123C84.9363 16.4123 85.4026 16.456 85.8835 16.5435C85.7815 17.1992 85.1112 17.9423 84.062 17.9423C83.4646 17.9423 83.1295 17.6946 83.1295 17.2283Z" fill="white"/>
                        <path d="M96.642 15.6255C96.642 14.3869 97.3851 13.5417 98.3905 13.5417C99.396 13.5417 100.139 14.3869 100.139 15.6255C100.139 16.864 99.396 17.6946 98.3905 17.6946C97.3851 17.6946 96.642 16.864 96.642 15.6255ZM94.398 22.3429H96.642V18.5252C97.2103 19.1809 98.0117 19.5743 98.988 19.5743C101.072 19.5743 102.5 17.9277 102.5 15.6255C102.5 13.3232 101.072 11.6766 99.1045 11.6766C98.0991 11.6766 97.254 12.0992 96.642 12.7986V11.8223H94.398V22.3429Z" fill="white"/>
                        <path d="M103.889 15.6255C103.889 17.9277 105.608 19.5743 107.998 19.5743C110.388 19.5743 112.107 17.9277 112.107 15.6255C112.107 13.3232 110.388 11.6766 107.998 11.6766C105.608 11.6766 103.889 13.3232 103.889 15.6255ZM106.249 15.6255C106.249 14.3869 106.993 13.5417 107.998 13.5417C109.003 13.5417 109.747 14.3869 109.747 15.6255C109.747 16.864 109.003 17.6946 107.998 17.6946C106.993 17.6946 106.249 16.864 106.249 15.6255Z" fill="white"/>
                        <path d="M115.847 15.6255C115.847 14.3869 116.59 13.5417 117.595 13.5417C118.601 13.5417 119.344 14.3869 119.344 15.6255C119.344 16.864 118.601 17.6946 117.595 17.6946C116.59 17.6946 115.847 16.864 115.847 15.6255ZM119.344 19.4286H121.588V8.64574H119.344V12.7257C118.776 12.07 117.974 11.6766 116.998 11.6766C114.914 11.6766 113.486 13.3232 113.486 15.6255C113.486 17.9277 114.914 19.5743 116.896 19.5743C117.901 19.5743 118.732 19.1517 119.344 18.4523V19.4286Z" fill="white"/>
                        <path d="M127.935 19.4286H130.179V8.64574H127.935V19.4286Z" fill="white"/>
                        <path d="M132.109 11.8223V15.946C132.109 18.1026 133.653 19.5743 135.883 19.5743C138.112 19.5743 139.657 18.1026 139.657 15.946V11.8223H137.413V16.1355C137.413 17.1263 136.772 17.6946 135.883 17.6946C134.994 17.6946 134.353 17.1263 134.353 16.1355V11.8223H132.109Z" fill="white"/>
                        <path d="M143.838 15.6255C143.838 14.3869 144.581 13.5417 145.586 13.5417C146.592 13.5417 147.335 14.3869 147.335 15.6255C147.335 16.864 146.592 17.6946 145.586 17.6946C144.581 17.6946 143.838 16.864 143.838 15.6255ZM141.594 22.3429H143.838V18.5252C144.406 19.1809 145.208 19.5743 146.184 19.5743C148.268 19.5743 149.696 17.9277 149.696 15.6255C149.696 13.3232 148.268 11.6766 146.3 11.6766C145.295 11.6766 144.45 12.0992 143.838 12.7986V11.8223H141.594V22.3429Z" fill="white"/>
                        <path d="M151.085 15.6255C151.085 17.9277 152.804 19.5743 155.194 19.5743C157.584 19.5743 159.303 17.9277 159.303 15.6255C159.303 13.3232 157.584 11.6766 155.194 11.6766C152.804 11.6766 151.085 13.3232 151.085 15.6255ZM153.445 15.6255C153.445 14.3869 154.188 13.5417 155.194 13.5417C156.199 13.5417 156.942 14.3869 156.942 15.6255C156.942 16.864 156.199 17.6946 155.194 17.6946C154.188 17.6946 153.445 16.864 153.445 15.6255Z" fill="white"/>
                        <path d="M160.901 11.8223V15.946C160.901 18.1026 162.445 19.5743 164.675 19.5743C166.904 19.5743 168.449 18.1026 168.449 15.946V11.8223H166.205V16.1355C166.205 17.1263 165.563 17.6946 164.675 17.6946C163.786 17.6946 163.145 17.1263 163.145 16.1355V11.8223H160.901Z" fill="white"/>
                    </svg>
                </div>
            </div>
            <div class="col text-end">
                <button id="open-form" class="btn btn-light p-3">@Model.CtaButtonText</button>
            </div>
        </div>
    </section>
  
    <section id="form" class="container-fluid px-4 px-md-5 py-5" style="display: none">
      
        <div class="row justify-content-center mb-3">
            <div class="col w-medium text-center">
                <p>@Model.FormDescription</p>
            </div>
        </div>
            
        <div class="row justify-content-center mb-3">
            <div class="col w-small">
                @{ Html.RenderAction("RenderForm", "Submission"); }
            </div>
        </div>

        @if (Model.CollectionProcess?.Any() == true)
        {
            var i = 1;
            <hr />
            <div class="row justify-content-center">
                <div class="col w-medium">
                    <div class="row">
                        @foreach (var step in Model.CollectionProcess)
                        {
                            <div class="col text-center">
                                <div class="circle mb-2">@(i++)</div>
                                <div class="date mb-2">@step.Date</div>
                                <div class="fw-bold">@step.Label</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </section>

    <section id="confirmation" class="container-fluid px-4 px-md-5 py-5" style="display: none">
        <div class="row justify-content-center mb-3">
            <div class="col w-small text-center">
                <p>@Model.ThankYouText</p>
                
                @if (Model.ThankYouImage != null)
                {
                    <div class="my-5">
                        <img src="@Model.ThankYouImage.MediaItem.Url()" alt="@Model.ThankYouImage.MediaItem.Name" />
                    </div>
                }
                
                <div>
                    <button id="back-to-site" class="btn btn-main">@Model.BackToSiteButtonLabel</button>
                </div>
            </div>
        </div>
    </section>
  
    <script>
        $(function () {
            $('#open-form').click(function () {
                $('#form').slideDown();
                $('#confirmation').hide();
            });
            
            $('#back-to-site').click(function () {
                $('#confirmation').slideUp();
            });
            
            $('#specific-location-toggle').on('change', '.form-check-input:radio', function () {
                if (this.value == "1") {
                    $('#specific-location-field').slideDown();
                } else {
                    $('#specific-location-field').slideUp();
                }
            })
            
            @if(TempData["Sent"] != null)
            {
                <text>
                    $('#confirmation').show();
                </text>
            }
        })
    </script>
</body>
</html>


